*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(33, 33, 34);
    gap: 50px;
}

.heading{
    color:white;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.clock_container{
   
    border-radius: 50%;
    background-color: rgb(66, 64, 64);
    border: 1px solid #3b3831;
    box-shadow: 0 0 16px white;
    outline: 2px solid white;
    outline-offset: 2px;
}

.clock{
    height: 400px;
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
    outline-offset: -2px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0);
}

.clock div span{
    font-size: 28px;
    color: white;
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    inset: 20px;
    text-align: center;
}


.clock div span i{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-weight: 700;
}

.clock::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

.hand{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hand i{
    position: absolute;
    background-color: var(--colour);
    height: var(--height);
    width: var(--width);
    z-index: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


@media (max-width: 425px)  {
    .clock{
        height: 300px;
        width: 300px;
    }

    .hand i{
        height: var(--minheight);
    }
    .heading{
        font-size: 25px;
    }
}


@media  (min-width:1450px) {

    .clock_container{
        outline: 5px solid white;
        outline-offset: 4px;
    }
    .clock{
        height: 1000px;
        width: 1000px;
        outline: 5px solid white;
        outline-offset: -4px;
    }

    .hand i{
        height: var(--max);  
    }
    .heading{
        font-size: 55px;
    }
    .clock div span{
        font-size: 55px;
    }
}